.orders-container {
    padding: 20px;
  }
  
  .order-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .order-card h3 {
    margin: 0 0 10px;
  }
  
  .order-card p {
    margin: 5px 0;
  }
  
  .order-card h4 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  .back-button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  .no-orders-container {
    margin-top: 20px;
    padding: 15px;
    color: #888;
    font-size: 1.2em;
    background-color: #f2f2f2;
    border-radius: 8px;
  }
  
  .no-orders-container p {
    margin: 0;
    font-weight: bold;
  }

  .order-heading {
    color: blue; /* Change to your desired color */
    /* You can add more styles here if needed */
  }